$dropTimeSize: 4.0s;
$dropTimeSize2: 5.0s;
$dropTimeSize3: 5.0s;
$dropTimeOpacity: 2.5s;
$dropTimeOpacity2: 2.0s;
$dropTimeOpacity3: 1.5s;

.drop {
  position: absolute;
  opacity: 1.0;
  transition: width $dropTimeSize cubic-bezier(0,1,.29,1),
              height $dropTimeSize cubic-bezier(0,1,.29,1),
              opacity $dropTimeOpacity cubic-bezier(0,1,.29,1),
              box-shadow $dropTimeSize cubic-bezier(0,1,.29,1);

  width: 10px;
  height: 10px;

  //border: 10px solid #ddd8cf;
  border-radius: 50%;
  background: transparent;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 5px 0 0 #ddd8cf,
              inset 5px 0 0 #ddd8cf,
              -10px 0 0 #0e0b03,
              inset -10px 0 0 #0e0b03;


  &.is--fallen {
    width: 500px;
    height: 500px;
    opacity: 0;
    box-shadow: 12px 0 5px #ddd8cf,
    inset 12px 0 5px #ddd8cf,
    -15px 0 5px #0e0b03,
    inset -10px 0 5px #0e0b03;
  }

  &-2 {
    opacity: 0.3 ;
    transition: width $dropTimeSize2 cubic-bezier(0,1,.29,1),
    height $dropTimeSize2 cubic-bezier(0,1,.29,1),
    opacity $dropTimeOpacity2 cubic-bezier(0,1,.29,1),
    box-shadow $dropTimeSize2 cubic-bezier(0,1,.29,1);
    &.is--fallen {
      width: 350px;
      height: 350px;
    }
  }

  &-3 {
    opacity: 0.07;
    transition: width $dropTimeSize3 cubic-bezier(0,1,.29,1),
    height $dropTimeSize3 cubic-bezier(0,1,.29,1),
    opacity $dropTimeOpacity3 cubic-bezier(0,1,.29,1),
    box-shadow $dropTimeSize3 cubic-bezier(0,1,.29,1);
    &.is--fallen {
      width: 150px;
      height: 150px;
    }
  }
}