$dropTimeSize: 4.0s;
$dropTimeSize2: 5.0s;
$dropTimeSize3: 6.0s;
$dropTimeOpacity: 2.5s;
$dropTimeOpacity2: 2.0s;
$dropTimeOpacity3: 1.5s;

.drop {
  position: absolute;
  opacity: 0.6;
  transition: width $dropTimeSize cubic-bezier(0,1,.29,1),
              height $dropTimeSize cubic-bezier(0,1,.29,1),
              opacity $dropTimeOpacity cubic-bezier(0,1,.29,1),
              box-shadow $dropTimeSize cubic-bezier(0,1,.29,1);

  width: 10px;
  height: 10px;

  //border: 10px solid #ddd8cf;
  border-radius: 50%;
  //border: 1px solid red;
  background: transparent;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: -13px 0px 9px 0px #0e0b03, inset -9px 0px 9px 4px #0e0b03, 16px 0 5px -7px #ddd8cf, inset 16px 0 5px -7px #ddd8cf;


  &.is--fallen {
    width: 580px;
    height: 580px;
    opacity: 0;
    //box-shadow: 16px 0 5px -7px #ddd8cf, inset 16px 0 5px -7px #ddd8cf;
    box-shadow: -13px 0px 9px 0px #0e0b03, inset -9px 0px 9px 4px #0e0b03, 16px 0 5px -7px #ddd8cf, inset 16px 0 5px -7px #ddd8cf;
  }

  &-2 {
    opacity: 0.3 ;
    transition: width $dropTimeSize cubic-bezier(0,1,.29,1),
    height $dropTimeSize cubic-bezier(0,1,.29,1),
    opacity $dropTimeOpacity2 cubic-bezier(0,1,.29,1),
    box-shadow $dropTimeSize cubic-bezier(0,1,.29,1);
    &.is--fallen {
      width: 520px;
      height: 520px;
    }
  }

  &-3 {
    opacity: 0.07;
    transition: width $dropTimeSize cubic-bezier(0,1,.29,1),
    height $dropTimeSize cubic-bezier(0,1,.29,1),
    opacity $dropTimeOpacity3 cubic-bezier(0,1,.29,1),
    box-shadow $dropTimeSize cubic-bezier(0,1,.29,1);
    &.is--fallen {
      width: 460px;
      height: 460px;
    }
  }
  &-4 {
    opacity: 0.05;
    transition: width $dropTimeSize cubic-bezier(0,1,.29,1),
    height $dropTimeSize cubic-bezier(0,1,.29,1),
    opacity $dropTimeOpacity3 cubic-bezier(0,1,.29,1),
    box-shadow $dropTimeSize cubic-bezier(0,1,.29,1);
    &.is--fallen {
      width: 400px;
      height: 400px;
    }
  }
}